<?xml version="1.0"?>
<data>
	<service name="station">
		<city>Tokorozawa</city>
		<timezone>Asia/Tokyo</timezone>
                <encoding>iso-8859-1</encoding>
		<locale>en_US.UTF-8</locale>
		<font>Droid Sans</font>
		<sunrise_and_sunset>True</sunrise_and_sunset>
		<dark_mode>Auto</dark_mode>
		<api_key>xxxxxxxxxxxxxxxx</api_key>
		<lat>35.8034315</lat>
		<lon>139.4275599</lon>
		<units>metric</units>
		<lang>en</lang>
                <exclude>minutely</exclude>
	</service>
</data>
